SEG_HF_TOKEN=hf_...
SEG_MODEL_NAME=pyannote/segmentation-3.0
SEG_MODEL_PATH=
SEG_DEVICE=cuda:0
SEG_DTYPE=float32
SEG_MAX_CONCURRENCY=4
SEG_INFERENCE_TIMEOUT_SEC=300
SEG_MAX_AUDIO_BYTES=209715200
SEG_MAX_AUDIO_DURATION_SEC=3600
SEG_MIN_DURATION_ON=0.0
SEG_MIN_DURATION_OFF=0.0
SEG_LOG_LEVEL=info
SEG_LOG_DIR=logs
SEG_LOG_RETENTION_DAYS=30
